extends layout

block content
  h1 Free Code Camp Project
  h2 Request Header Parser
  hr
  h2 How To Use This Micro Service
  ul
    li Navigate to <code>https://fcc-request-header-parser-benjaminadk.c9users.io/api/whoami</code>
    li There you will receive a JSON response with info about your user agent, etc
    li If you are not using a JSON Viewer I recommend downloading <code>JSON Viewer</code> from the Chrome Web Store
    li You can also send a get request with an app like Postman for nicer looking results
